.page-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.menu-box {
    position: fixed;
    width: 60%;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 300ms;
}
.menu-box.active {
    transform: translateY(0);
}